<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Analiza Tekstu</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bulma@0.9.3/css/bulma.min.css">
</head>
<body>
    <section class="section">
        <div class="container">
            <h2 class="title">Analiza Tekstu</h2>
            <form method="post" action="{% url 'home' %}" class="box">
                {% csrf_token %}
                {{ form.as_p }}
                <div class="field is-grouped">
                    <div class="control">
                        <button type="submit" class="button is-primary">Analizuj</button>
                    </div>
                </div>
            </form>
        </div>
    </section>
</body>
</html>
